.band
  %section.container
    .row
      .col-300
        %h1= @business.name
        %p
          3 / 5 Stars
          %small (87 reviews)
        %p= @business.description
      .col-300
      .col-300
        = link_to new_business_review_path(@business), class: 'btn btn-primary right' do
          %i.fa.fa-star
          Write a Review

%section.container
  %h2 Reviews for Awesome Business
  .list-stack.row.review
    .col-200
      %h3
        %a(href="#") Reviewer's name
    .col-300
      %p 4 / 5 stars
      %p This is my review of this awesome business. Awesome Business is an awesome business.
  .list-stack.row.review
    .col-200
      %h3
        %a(href="#") Reviewer's name
    .col-300
      %p 4 / 5 stars
      %p This is my review of this awesome business. Awesome Business is an awesome business.
  .list-stack.row.review
    .col-200
      %h3
        %a(href="#") Reviewer's name
    .col-300
      %p 4 / 5 stars
      %p This is my review of this awesome business. Awesome Business is an awesome business.
