%section.container
  %a.btn.btn-primary.right(href="#") Create a Business
  %h1.m-center Businesses
  %ul.clearfix
    - [{name: 'Business 1', description: 'This is business 1'}, {name: 'Business 2', description: 'This is business 2'}, {name: 'Business 3', description: 'This is business 3'}].each do |business|
      %li.card
        %h2
          %a(href="#")= business[:name]
        %p= business[:description]
