%section.container.m-center.row
  .col-300.col-p
    %h1.m-center Sign Up for Yelp (Clone)
    %p.m-center Connect with great local businesses
    %p.m-center
      %small
        by signing up, you agree to Yelp Clone's
        %a(href="#") Terms of Service
        and
        %a(href="#") Privacy Policy
        \.
    %form
      %fieldset
        %dl.partial
          %dt
            %label(for="first-name") Name
          %dd
            %input(name="first-name" id="first-name" placeholder="First Name")
            %input(name="last-name" id="last-name" placeholder="Last Name")
        %dl
          %dt
            %label(for="email") Email
          %dd
            %input(name="email" id="email" placeholder="Email")
        %dl
          %dt
            %label(for="password") Password
          %dd
            %input(name="password" id="password" placeholder="Password")
            %input(name="password-confirm" id="password-confirm" placeholder="Confirm Password")
      %button.btn.btn-primary(type="submit") Sign Up

  .col-500.col-p
    = image_tag "signup_illustration.png"
