.band
  %section.container
    %h1
      Profile:
      Username
    %p
      %i.fas.fa-star
      18 Reviews

%section.container
  %h2 Username's Reviews
  .list-stack.row.review
    .col-200
      %h3
        %a(href="#") Business's Name
      %p
        %small 2/8/2018
    .col-300
      %p 4 / 5 stars
      %p This is my review of this awesome business. Awesome Business is an awesome business.
  .list-stack.row.review
    .col-200
      %h3
        %a(href="#") Business's Name
      %p
        %small 2/8/2018
    .col-300
      %p 4 / 5 stars
      %p This is my review of this awesome business. Awesome Business is an awesome business.
  .list-stack.row.review
    .col-200
      %h3
        %a(href="#") Business's Name
      %p
        %small 2/8/2018
    .col-300
      %p 4 / 5 stars
      %p This is my review of this awesome business. Awesome Business is an awesome business.
