form
  fieldset
    padding: 0
    margin: 0
    border: none

  dl, dt, dd
    padding: 0
    margin: 0

  input, textarea, select
    padding: 5px 9px
    margin: 0 5px 10px
    font: inherit
    background: #ffffff
    border: 1px solid $gray-t
    border-radius: $border-radius
    box-sizing: border-box
    outline: none
    &:focus
      box-shadow: $box-shadow
    &.error
      border-color: $color-alert-danger-dark
      box-shadow: $box-shadow-error

  input[type="submit"]
    cursor: pointer

  dl
    input, textarea, select
      display: inline-block
      width: calc(100% - 10px)

    textarea
      height: 100px
      min-height: 35px
      resize: vertical

    &.partial
      input
        float: left
        width: calc(50% - 10px)

  label
    display: none
    &.error
      display: block
      color: $color-alert-danger-dark
    .error
      color: $color-alert-danger-dark

  button
    display: block
    width: calc(100% - 10px)
    margin: 0 auto
